<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 18px;">Clínica Veterinária</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="form-content" style="margin: 5px">
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center">
            <h1>Histórico de Consultas</h1>
          </div>
          <div>
            <ion-list>
              <ion-item>
                <ion-select placeholder="Filtrar por animal" (ionChange)="filterConsultas($event)">
                  <ion-select-option value="todos">Todos</ion-select-option>
                  <ion-select-option *ngFor="let animal of animals" [value]="animal.animalId">{{animal.nome}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select placeholder="Filtrar por Status" (ionChange)="filterConsultasPorStatus($event)">
                  <ion-select-option value="todos">Todos</ion-select-option>
                  <ion-select-option value="Agendada">Agendada</ion-select-option>
                  <ion-select-option value="Finalizada">Finalizada</ion-select-option>
                  <ion-select-option value="Cancelada">Cancelada</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
          <ng-container *ngFor="let consulta of filteredConsultas">
            <app-historico-card [status]="consulta.Status" [sexo]="consulta.Animal.Sexo" [nome]="consulta.Animal.Nome" [idade]="consulta.Animal.Idade" [data]="consulta.DataConsulta" [veterinario]="consulta.Veterinarios.Nome" [animal]="consulta.Animal.Tipo" [descricao]="consulta.Descricao"></app-historico-card>
          </ng-container>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
