h1 {
    color:var(--ion-color-primary);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

  p {
    color: #545454;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
  
  .label {
    color: var(--ion-color-primary);
  
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
 .informacoes {
    margin-top: 20px;
    margin-bottom: 20px;
 } 
ion-note {
    font-size: 13px;
}
  .login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    ion-button {
      width: 75%;
      margin-top: 10px;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      --border-radius: 10px;
    }
  }
  
  ion-item {
    margin-top: 3px;
    border-radius: 10px;
    border: 2px solid var(--primary, #0477C6);
    background: #F1F4FF;
  }
